/*
body{
    background: radial-gradient(#e5e5e5,#ffff,#e5e5e5);
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.card-body{
    background: white;
    padding: 4rem 8rem!important;
}

.card-img{
    width: 6rem;
    height: 4rem;
}

.card-text{
    font-size: .7rem;
    padding: 0.4rem 0.3rem;
}

.card-title{
    font-size: .7rem;
    padding: 0.4rem 0.3rem;
}

.container-fluid.row{
    padding-top: 6rem;
}*/
